<!--
    Главная страница магазина.
-->
<!DOCTYPE html>
<html lang="en"
	  th:replace="_layouts/frontend/template :: frontend(~{::menu}, ~{::content})"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  xsi:schemaLocation="http://www.thymeleaf.org">
<head>
	<title>Page Title</title>
</head>
<body>

<menu>
	<div th:insert="~{_layouts/frontend/menu :: menu}">main menu</div>
</menu>

<content>
	<div class="carousel-wrapper" style="margin-top: 20px;">
		<div class="carousel slide" data-interval="3000" data-ride="carousel" id="carousel-example-generic">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li class="active" data-slide-to="0" data-target="#carousel-example-generic"></li>
				<li data-slide-to="1" data-target="#carousel-example-generic"></li>
				<li data-slide-to="2" data-target="#carousel-example-generic"></li>
			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner">
				<div class="item active">
					<img th:src="@{img/carousel/img1.jpg}"/>
					<div class="carousel-caption">
						<p></p>
					</div>
				</div>
				<div class="item">
					<img th:src="@{img/carousel/img2.jpg}"/>
					<div class="carousel-caption">
						<p></p>
					</div>
				</div>
				<div class="item">
					<img th:src="@{img/carousel/img3.jpg}"/>
					<div class="carousel-caption">
						<p></p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="category-preview-container">
		<div class="categoryBox" th:each="category : ${categories}">
			<a th:href="@{'/categories/' + ${category.id}}">
				<span th:classappend="'categoryLabel scheme-'"></span>
				<span class="categoryLabelText">
					<span class="categoryTitle" th:text="${category.title}">category.title</span>
				</span>
				<img class="categoryImage img-responsive" th:src="@{'img/categories/' + ${category.title} + '-preview.jpg'}"/>
			</a>
		</div>
	</div>

</content>
</body>
</html>